---
layout: primary-ru
title: R.ORUJOV IP LAW OFFICE
pageHeading: Защита интеллектуальной собственности в Азербайджане
---

<!--MAIN CONTENTS-->
<main class="pageMainContents">
    <!--ABOUT OFFICE INTRO-->
    <section class="aboutOfficeIntro">
        <div class="grid">
            <div class="unit xs-1 aboutOfficeIntroContainer">
                <h2>О патентном офисе</h2>
                <!--<img src="http://placehold.it/200x200" alt="Бизнесмены в офисе">-->
                <p>Офис патентного поверенного "R.ORUJOV - IP Law Office" специализируется на защите интеллектуальной собственности
                    в Азербайджане. Основными направлениями нашей деятельности являются оказание всех видов услуг по работе
                    с патентами, товарными знаками, защите авторских прав и др. виды услуг, относящиеся к области интеллектуальной
                    собственности.
                </p>
                <a href="{{site.baseurl}}/ru/about/">Читать далее о патентном офисе <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </section>
    <!--LATEST NEWS-->
    <section class="grid latestNews">
        <div class="unit xs-1 l-1-4">
            <h2>Последние новости</h2>
            <img src="{{site.baseurl}}/img/news-icon.png" alt="Изображение газеты" class="latestNewsIcon">
            <a href="{{site.baseurl}}/ru/news/" class="btn btnHollow">Все новости</a>
        </div>
        <div class="unit xs-1 l-3-4">
            <!--loops over posts, checks if russian, and shows up latest 3-->
            {% for post in site.posts limit:3 %} {% if post.language == 'russian' %}
            <h3><a href="{{site.baseurl}}{{post.url}}">{{post.newsTitle}}</a></h3>
            <time datetime="{{post.date}}"><span>{{post.day}}</span>{{post.monthYear}}</time>
            <p><a href="{{site.baseurl}}{{post.url}}">{{post.excerpt}}</a></p>
            {% endif %} {% endfor %}
        </div>
    </section>
    <section class="contact">
        <div class="grid">
            <div class="unit xs-1 m-1-3 l-1-2 contactDetails">
                <h2>Контакты</h2>
                <ul class="contactDetailsList">
                    <li><span>Почтовый адрес:</span>
                        <ul>
                            <li>Азербайджан</li>
                            <li> г. Баку, AZ1122</li>
                            <li> ул. Зардаби, 17/51, офис 55</li>
                        </ul>
                    </li>
                </ul>
                <ul class="contactDetailsList">
                    <li><span>Телефон</span>
                        <ul>
                            <li>+994 12 4328388</li>
                        </ul>
                    </li>
                    <li><span>Факс</span>
                        <ul>
                            <li>+994 12 000000</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="unit xs-1 m-2-3 l-1-2 contactMailForm">
                <h2>Отправить сообщение</h2>
                <!--Formspree mail form-->
                <form class="contactForm" action="https://formspree.io/office@rorujov.az" method="POST">
                    <label for="name">Ваше имя</label>
                    <input id="name" type="text" name="name">
                    <label for="email">Ваш e-mail</label>
                    <input id="email" type="email" name="_replyto">
                    <input type="hidden" name="_cc" value="anarorujov@yandex.com">
                    <label for="message">Сообщение</label>
                    <textarea id="message" name="message"></textarea>
                    <input type="submit" value="Отправить">
                    <input type="hidden" name="_next" value="{{site.baseurl}}">
                    <input type="hidden" name="_subject" value="Запрос с сайта rorujov.az">
                    <input type="text" name="_gotcha" style="display:none">
                </form>
            </div>
        </div>
    </section>
</main>