<!--CONTEXT MENU-->
<ul class="contextMenuList">
    <li><a {% if page.url == '/ru/patent-law/' %} class="current" {% endif %} href="{{site.baseurl}}/ru/patent-law/">Закон о патенте</a></li>
    <li><a {% if page.url == '/ru/trademark-law/' %} class="current" {% endif %} href="{{site.baseurl}}/ru/trademark-law/">Закон о товарных знаках и географических указаниях</a></li>
    <li><a {% if page.url == '/ru/copyright-law/' %} class="current" {% endif %} href="{{site.baseurl}}/ru/copyright-law/">Закон об авторском праве и смежных правах</a></li>
    <li><a {% if page.url == '/ru/unfair-competition-law/' %} class="current" {% endif %} href="{{site.baseurl}}/ru/unfair-competition-law/">Закон о недобросовестной конкуренции</a></li>
    <li><a {% if page.url == '/ru/integral-schemes-topologies-law/' %} class="current" {% endif %} href="{{site.baseurl}}/ru/integral-schemes-topologies-law/">Закон о правовой защите интегральных схем</a></li>
    <li><a {% if page.url == '/ru/antimonopoly-law/' %} class="current" {% endif %} href="{{site.baseurl}}/ru/antimonopoly-law/">Выписка из закона об антимонопольной деятельности</a></li>
</ul>