<!--OPTIONAL MENU-->
<section class="optionalMenu">
    <div class="grid">
        <div class="unit xs-1 m-1-2 l-1-4 optionalMenuItem">
            <a class="optionalMenuItemIcon1" href="{{site.baseurl}}/patent-law/"></a>
            <a class="optionalMenuItemHeading" href="{{site.baseurl}}/patent-law/">Законы</a>
            <a class="optionalMenuItemDescription" href="{{site.baseurl}}/patent-law/">
                        Законы Азербайджанской Республики реглирующие деятельность в области интеллектуальной собственности.
                    </a>
        </div>
        <div class="unit xs-1 m-1-2 l-1-4 optionalMenuItem">
            <a class="optionalMenuItemIcon2" href="{{site.baseurl}}/patent-application-filing/"></a>
            <a class="optionalMenuItemHeading" href="{{site.baseurl}}/patent-application-filing/">Подача заявок</a>
            <a class="optionalMenuItemDescription" href="{{site.baseurl}}/patent-application-filing/">
                        Требования и правила для подачи заявок на патент, товарные знаки и геграфические указания в Азербайджанской Республике.
                    </a>
        </div>
        <div class="unit xs-1 m-1-2 l-1-4 optionalMenuItem">
            <a class="optionalMenuItemIcon3" href="#"></a>
            <a class="optionalMenuItemHeading" href="#">Официальные пошлины</a>
            <a class="optionalMenuItemDescription" href="#">
                        Официальные тарифы установленные патентным ведоством Азербайджанской Республики.
                    </a>
        </div>
        <div class="unit xs-1 m-1-2 l-1-4 optionalMenuItem">
            <a class="optionalMenuItemIcon4" href="#"></a>
            <a class="optionalMenuItemHeading" href="#">Доверенность</a>
            <a class="optionalMenuItemDescription" href="#">
                        Бланк формы доверенности для предоставления полномочий патентному поверенному для ведения дел от имен заявителя.
                    </a>
        </div>
    </div>
</section>