<!--SERVICES LISTS CAROUSEL-->
<div class="servicesSlideGroup">
    <!--slide 1-->
    <ul>
        <li>Патентование изобретений, полезных моделей, промышленных образцов.</li>
        <li>Регистрация и продление товарных знаков и знаков услуг.</li>
        <li>Передача прав на патенты и товарные знаки.</li>
    </ul>
    <!--slide 2-->
    <ul>
        <li>Регистрация авторских прав.</li>
        <li>Регистрация научных, художественных и литературных произведений.</li>
        <li>Регистрация топологий интегральный схем и компьютерных программ.</li>
    </ul>
    <!--slide 3-->
    <ul>
        <li>Оплата ежегодных рент.</li>
        <li>Лицензирование. Апелляции.</li>
        <li>И другие услуги относящиеся к области интеллектуальной собственности.</li>
    </ul>
</div>
