---
layout: primary-ru
---

<!--PAGE MAIN CONTENTS-->
<main class="pageMainContents">
    <div class="grid">

        <!--ASIDE-->
        <aside class="unit xs-1 l-1-4 contextMenuContainer">
            <img src="{{site.baseurl}}/img/news-icon.png" alt="Изображение газеты" class="latestNewsIcon">
        </aside>

        <!--NEWS-->
        <article class="unit xs-1 l-3-4 news">
           
        <h2>{{page.newsTitle}}</h2>
        <time datetime="{{page.date}}"><span>{{page.day}}</span>{{page.monthYear}}</time>
        
        {{content}}
   
        </article>
    </div>
</main>